.venv/
__pycache__/
*.pyc
*.log
.env
.pytest_cache/
.ruff_cache/
.mypy_cache/
.streamlit/
.coverage
htmlcov/
.ipynb_checkpoints/
tmp/
.DS_Store

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
vectorstore/*
!vectorstore/.gitkeep
reports/*
!reports/.gitkeep
